In [28]:
import pymysql

def setConnect(host = 'svr3.educationhost.cloud',user='zyhhnxcz_students',password='Students1',db='zyhhnxcz_bank',charset='utf8mb4' ):
    global con
    con = pymysql.connect(host=host,
                        user=user,
                        password=password,
                        db=db,
                        charset=charset)
 
setConnect()

In [29]:
with con.cursor() as cur:
    school_class = input("введите номер и букву класса - ")
    sql = "SELECT a.name_lesson, a.name_teacher, t.week_day_lesson, t.day_num_lesson FROM timetablelessons t INNER JOIN about_lesson a ON t.id_about_lesson = a.id_about_lesson WHERE t.class_lesson = '" + school_class + "';"  
    cur.execute(sql)

    all_rows = cur.fetchall()

введите номер и букву класса - 9и

In [30]:
for row in all_rows:
    print(row[0])

Волейбол
Информатика
Химия
Русский язык
Русский язык
ОКО
Русский язык
Алгебра
Геометрия
История России
Физкультура
Немецкий язык
ИД
ИД
ОБЖ
Алгебра
Биология
Обществознание
Физкультура
Алгебра
Эконмическая теория
Эконмическая теория