In [28]:
import pymysql

def setConnect(host = 'svr3.educationhost.cloud',user='zyhhnxcz_students',password='Students1',db='zyhhnxcz_bank',charset='utf8mb4' ):
    global con
    con = pymysql.connect(host=host,
                        user=user,
                        password=password,
                        db=db,
                        charset=charset)
 
setConnect()

In [29]:
with con.cursor() as cur:
    school_class = input("введите номер и букву класса - ")
    sql = "SELECT a.name_lesson, a.name_teacher, t.week_day_lesson, t.day_num_lesson FROM timetablelessons t INNER JOIN about_lesson a ON t.id_about_lesson = a.id_about_lesson WHERE t.class_lesson = '" + school_class + "';"  
    cur.execute(sql)

    all_rows = cur.fetchall()

введите номер и букву класса - 9и

In [32]:
for row in all_rows:
    for elem in row:
        print(elem,end=" ")
    print()

Волейбол Наплекова 1 1
Информатика Смирнова 1 2
Химия Владимирова 1 3
Русский язык Попова С.Э. 1 4
Русский язык Попова С.Э. 1 5
ОКО Петрова М.Н. 2 2
Русский язык Попова С.Э. 2 3
Алгебра Москалева 2 4
Геометрия Москалева 2 5
История России Загидуллина 2 6
Физкультура Наплекова 2 7
Немецкий язык Петрова Т.А. 2 8
ИД Гоман 2 9
ИД Гоман 2 10
ОБЖ Зонов 3 2
Алгебра Москалева 3 3
Биология Ястребкова 3 4
Обществознание Загидуллина 3 5
Физкультура Наплекова 3 6
Алгебра Москалева 3 7
Эконмическая теория Колмыкова 3 8
Эконмическая теория Колмыкова 3 9