In [3]:
import pymysql

con = pymysql.connect(host='svr3.educationhost.cloud', user='zyhhnxcz_students', 
    password='Students1', database='zyhhnxcz_bank',charset='utf8mb4',cursorclass=pymysql.cursors.DictCursor)

In [4]:
with con:
    school_class = input("введите номер и букву класса - ")
    cur = con.cursor()
    sql = "SELECT a.name_lesson, a.name_teacher, t.week_day_lesson, t.day_num_lesson FROM timetablelessons t INNER JOIN about_lesson a ON t.id_about_lesson = a.id_about_lesson WHERE t.class_lesson = " + school_class + ";"                          
    cur.execute("sql")
 
    all_rows = cur.fetchall()

введите номер и букву класса - 9и

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'sql' at line 1")

In [ ]:
for row in all_rows:
    print(row[0])